<div class="container">
  <div class="the-box">
    <div id="the-articles">
      <div class="edit-del">
        <h3><%= @article.title%></h3>
        <%= link_to edit_article_path do %> 
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to article_path(@article), method: :delete,data: { confirm: "Are you sure?" } do%>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
      <p><%= @article.content %></p>
            
      
      </div>
    </div>
</div>