.the-box {
  width: 65vw;
  margin: auto;
  margin-top: 20px;
}


#the-articles {
  list-style-type: none;
  margin: auto;
  line-height: normal;
  width: 60%;
    
    a {
      color:#337ab7;
      font-size: small;
    }

    p {
      color: gray;
      font-size: xx-small;
      font-weight:300;
    }
  }