.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 0px 15px;  
  background-color: #f8f8f8;
  border: 1px solid #b1b1b1;

  a {
    text-decoration: none;    
    color: #77777f;
    height: 100%;
  }

  a:hover {
    opacity: 0.7;
  }

  .new-a {
    font-size:x-small;
  }

  .home {
    font-size: large;
    
  }
}